# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Entorno — NUNCA subir el .env real
.env

# PDFs generados
pdf_storage/

# Alembic generados
*.pyc

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
